name: midterm Demo Action
run-name: midterm Demo Action

on:
  schedule:
    - cron: "0 8 * * *"  #UTC 上午 8:00（等同於台灣時間下午 4:00）
  workflow_dispatch:

permissions:
  contents: write  #讓 GITHUB_TOKEN 有權限 push

jobs:
  crawler-demo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install bs4
        run: pip install requests bs4 pandas

      - name: Run crawler
        run: python .github/workflows/main.py

      - name: Commit & Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add . && git commit -m "daily crawl" || echo "No changes"
          git push origin HEAD:main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
